.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ), url("../img/hero.jpg") center/cover no-repeat;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

.hero-photo img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #5ab9ea; /* cor da borda */
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 500px;
}
