.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ), url("../img/hero.jpg") center/cover no-repeat;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}
